<!DOCTYPE html>
<html>
<head>
    <title>Database</title>
</head>
<body>
    <a href="/">
        <img src="{{ url_for('static', filename='icon.svg') }}" alt="SVG Icon" class="home-icon">
    </a>
    <h1 style="text-align: center;">Database Contents</h1>
    <table id="flashcardsTable">
        <tr>
            <th>
                Shanghainese <button class="small-button" onclick="sortTable(0)">Sort</button>
            </th>
            <th>
                Phonetics <button class="small-button" onclick="sortTable(1)">Sort</button>
            </th>
            <th>
                English <button class="small-button" onclick="sortTable(2)">Sort</button>
            </th>
            <th>
                Category <button class="small-button" onclick="sortTable(3)">Sort</button>
            </th>
        </tr>
        {% for record in database_records %}
        <tr>
            <td>{{ record.shanghainese }}</td>
            <td>{{ record.phonetics }}</td>
            <td>{{ record.english }}</td>
            <td>{{ record.category }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        function sortTable(column) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("flashcardsTable");
            switching = true;
            while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < rows.length - 1; i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[column];
                y = rows[i + 1].getElementsByTagName("td")[column];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
            }
        }
    </script>
</body>
</html>
