<!DOCTYPE html>
<html>
<head>
    <title>Database</title>
</head>
<body>
    <h1 style="text-align: center;">Database Contents</h1>
    <table id="flashcardsTable">
        <tr>
            <th>
                Shanghainese 
            </th>
            <th>
                Phonetics 
            </th>
            <th>
                English 
            </th>
            <th>
                Category 
            </th>
        </tr>
        {% for record in database_records %}
        <tr>
            <td>{{ record.shanghainese }}</td>
            <td>{{ record.phonetics }}</td>
            <td>{{ record.english }}</td>
            <td>{{ record.category }}</td>
        </tr>
        {% endfor %}
    </table>
    <button onclick="window.location.href='/'">Go home</button>
</body>
</html>
